<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd"
	version="2.3">

	<display-name>emite</display-name>
	<description>xmpp library for gwt</description>

	<session-config>
		<session-timeout>30</session-timeout><!-- 30 minutes -->
	</session-config>

	<servlet>
		<servlet-name>BoshGateway</servlet-name>
		<servlet-class>
			org.jabber.JabberHTTPBind.JHBServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoshGateway</servlet-name>
		<url-pattern>/http-bosh</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Proxy</servlet-name>
		<servlet-class>de.spieleck.servlets.ProxyServlet</servlet-class>
		<init-param>
			<param-name>remotePath</param-name>
			<param-value>/http-bind/</param-value>
		</init-param>
		<init-param>
			<param-name>remoteServer</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>remotePort</param-name>
			<param-value>8383</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Proxy</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>

</web-app>
